<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/main.js"></script>
    <title>Filament Tracker</title>
</head>
<body>
    <h1>
        Filament Tracker
    </h1>
    <div>
        <p>
            Amount left: 
        </p>
        <br>
        <p id="remainder"></p>
    </div>
</body>
</html>