<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filament Tracker</title>
</head>
<body>
    <h1>
        Filament Tracker
    </h1>
    <div>
        <p>
            Amount left: 
        </p>
        <input id="remainder" type="text" readonly="true">
    </div>
</body>
</html>